In [1]:
import datetime

In [3]:
from datetime import date
mydate=date(year=2014,month=8,day=28)
print("date=",mydate)

date= 2014-08-28

In [ ]:
#Date class

In [4]:
date.today()

datetime.date(2021, 5, 29)

In [5]:
date.today().month

5

In [6]:
#Time class

In [7]:
from datetime import time
mytime=time(hour=12,minute=45,second=35)
mytime

datetime.time(12, 45, 35)

In [9]:
mytime=time(hour=15)
mytime

datetime.time(15, 0)

In [10]:
# #datetime
# both date and time
# year,month,day are mendatory

In [12]:
from datetime import datetime
a=datetime(year=2023,month=6,day=24)
a

datetime.datetime(2023, 6, 24, 0, 0)

In [15]:
b=datetime(year=2023,month=6,day=24,hour=11,minute=54,second=24)
b

datetime.datetime(2023, 6, 24, 11, 54, 24)

In [17]:
b.minute

54

In [21]:
today=datetime.now()
today

datetime.datetime(2021, 5, 29, 16, 52, 48, 197046)

In [22]:
# #time delta class
# is used to for calculating in dates and used for date manuplation in python

In [25]:
#date time 3 months from now
from datetime import datetime,timedelta
today=datetime.now()
after=today+timedelta(days=90)
after

datetime.datetime(2021, 8, 27, 16, 57, 12, 216187)

In [26]:
##Quiz

In [27]:
import datetime

d=datetime.date(2016,7,24)

print(d)

2016-07-24

In [28]:
tday=datetime.date.today()

tday.month

5

In [29]:
tday=datetime.date.today()

bday=datetime.date(2017,9,18)

t_day=bday-tday

In [32]:
t_day.seconds

0